:root {
	// Frosted Glass variables
	--version: 'Dark_Nutikas v1.0.0';

	--TB-top: calc(var(--server-container) + var(--window-padding));
	--TB-tr-roundness: var(--window-roundness);
	--TB-position-top: var(--TB-top, var(--window-padding));
	--TB-position-right: var(--window-padding);
	--tint: rgb(var(--tint-colour), var(--tint-brightness));
	--foreground-half: rgb(255, 255, 255, 0.025);
	--foreground: rgb(255, 255, 255, 0.05);
	--foreground-double: rgb(255, 255, 255, 0.1);
	--foreground-triple: rgb(255, 255, 255, 0.15);
	--gradient: linear-gradient(
		var(--gradient-direction),
		rgb(var(--gradient-primary)),
		rgb(var(--gradient-secondary))
	);
	--gradient-20: linear-gradient(
		var(--gradient-direction),
		rgb(var(--gradient-primary), 0.2),
		rgb(var(--gradient-secondary), 0.2)
	);
	--gradient-50: linear-gradient(
		var(--gradient-direction),
		rgb(var(--gradient-primary), 0.5),
		rgb(var(--gradient-secondary), 0.5)
	);
	--gradient-90: linear-gradient(
		var(--gradient-direction),
		rgb(var(--gradient-primary), 0.9),
		rgb(var(--gradient-secondary), 0.9)
	);
	--text-shadow: 1;
	--chat-embed: var(--background-secondary);

	// Discord variables
	--discord-green: 67, 181, 129;
	--discord-yellow: 219, 171, 9;
	--discord-red: 215, 58, 73;
	--discord-purple: 89, 54, 149;
	--discord-invisible: 117, 128, 142;
	--discord-nitro: 255, 115, 250;
	--discord-blurple: 114, 137, 218;
	--discord-spotify: 29, 185, 84;
	--discord-twitch: 89, 54, 149;
	--discord-xbox: 16, 124, 16;

	// Fallbacks
	--fb-popout-image: var(--popout-modal-image, var(--popout-image));
	--fb-popout-blur: var(--popout-modal-blur, var(--popout-image-blur));
	--fb-popout-size: var(--popout-modal-size, var(--popout-image-size));
	--fb-popout-position: var(
		--popout-modal-position,
		var(--popout-image-position)
	);
	--fb-popout-repeat: var(--popout-modal-repeat, var(--popout-image-repeat));

	--fb-overlay-image: var(--popout-modal-image, var(--overlay-image));
	--fb-overlay-blur: var(--popout-modal-blur, var(--overlay-image-blur));
	--fb-overlay-size: var(--popout-modal-size, var(--overlay-image-size));
	--fb-overlay-position: var(
		--popout-modal-position,
		var(--overlay-image-position)
	);
	--fb-overlay-repeat: var(--popout-modal-repeat, var(--overlay-image-repeat));

	--odp-black: #282c34;
	--odp-white: #abb2bf;
	--odp-lightred: #e06c75;
	--odp-darkred: #be5046;
	--odp-green: #98c379;
	--odp-lightyellow: #e5c07b;
	--odp-darkyellow: #d19a66;
	--odp-blue: #61afef;
	--odp-magenta: #c678dd;
	--odp-cyan: #56b6c2;
	--odp-guttergray: #4b5263;
	--odp-commentgray: #5c6370;

	--rgb-highlight: 229, 204, 255; /* The main highlight color */
	--rgb-background: 0, 0, 0; /* The main background color */
	--rgb-text: var(--odp-white); /* The main text color */
	--rgb-close-button: var(
		--odp-darkred
	); /* The main "close this" or "deny" color */
	--rgb-online-color: var(
		--odp-green
	); /* The color used in the "online" user status symbol */
	--rgb-afk-color: var(
		--odp-darkyellow
	); /* The color used in the "idle" user status symbol */
	--rgb-dnd-color: var(
		--odp-lightred
	); /* The color used in the "do not disturb" user status symbol */
	--rgb-streaming-color: var(
		--odp-magenta
	); /* The color used in the "streaming X" user status symbol */

	--transition-time: 0.3s; /* How fast animations added by the theme happen. Default is 0.3 seconds */

	--background-image: url(https://images.all-free-download.com/images/graphicthumb/starry_night_192398.jpg); /* To add an image, replace unset with url(https://www.YOUR-URL-HERE.com) */
	--background-position: center; /* Positions the background image */
	--background-size: cover; /* Scales the background image */
	--background-blur: 0px; /* Blurs the image which helps with readability of text infront of it */
	--background-brightness: 100%; /* Changes the background images brightness */
	--stars: url(https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png);

	--home-button-image: url('https://i.imgur.com/GSM6FhB.png'); /* Home button image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
	--home-button-size: 60%; /* Size of the home button image | DEFAUT: cover */
	--home-button-position: center; /* Position of home button image | DEAFULT: center */

	--roundness: 50px;
	--uno: rgb(25, 25, 27);
	/* primary background color */
	--dos: rgb(30, 30, 33);
	/* secondary background color */
	--tres: rgb(35, 35, 39);
	/* tertiary background color */
	--quatro: rgb(16, 16, 17);
	/* quaternary background color */
	--sheer: rgba(0, 0, 0, 0.6);
	--veil: rgba(100, 100, 100, 0.2);

	--font: 'gg sans';

	--serverlist-brightness: 0.8; /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
	--left-brightness: 0.8; /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
	--middle-brightness: 0.6; /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
	--right-brightness: 0; /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0 */
	--overlay-brightness: 0.75; /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.75 */

	--window-padding: 20px; /* Spacing around the Discord window | DEFAULT: 20px */
	--window-roundness: 10px; /* Roundness of Discord | DEFAULT: 10px */
	--scrollbar-colour: var(--odp-cyan); /* DEFAULT: rgb(255,255,255,0.05) */
	--link-colour: var(--odp-blue); /* DEFAULT: #00b0f4 */
	--update-notice-1: none;
}

.theme-dark {
	--header-primary: #fff;
	--header-secondary: #bbb;
	--text-normal: #fff;
	--text-default: #ddd;
	--text-muted: #aaa;
	--text-link: #00b0f4;
	--channels-default: #ddd;
	--interactive-normal: #bbb;
	--interactive-hover: #eee;
	--interactive-active: #fff;
	--interactive-muted: #777;
	--background-primary: transparent;
	--background-secondary: rgb(0, 0, 0, 0.3);
	--background-secondary-alt: transparent;
	--background-tertiary: transparent;
	--background-accent: #4f545c;
	--background-floating: transparent;
	--background-mobile-primary: #36393f;
	--background-mobile-secondary: #2f3136;
	--background-modifier-hover: rgb(255, 255, 255, 0.05);
	--background-modifier-active: rgb(255, 255, 255, 0.07);
	--background-modifier-selected: rgb(255, 255, 255, 0.1);
	--background-modifier-accent: rgb(255, 255, 255, 0.1);
	--background-mentioned: rgb(250, 166, 26, 0.05);
	--background-mentioned-hover: rgb(250, 166, 26, 0.08);
	--background-message-hover: rgb(4, 4, 5, 0.07);
	--elevation-stroke: 0 0 0 1px rgb(4, 4, 5, 0.15);
	--elevation-low: 0 1px 0 rgb(4, 4, 5, 0.2), 0 1.5px 0 rgb(6, 6, 7, 0.05),
		0 2px 0 rgb(4, 4, 5, 0.05);
	--elevation-medium: 0 4px 4px rgb(0, 0, 0, 0.16);
	--elevation-high: 0 8px 16px rgb(0, 0, 0, 0.24);
	--logo-primary: #fff;
	--guild-header-text-shadow: 0 1px 1px rgb(0, 0, 0, 0.4);
	--channeltextarea-background: rgb(255, 255, 255, 0.05);
	--activity-card-background: #202225;
	--textbox-markdown-syntax: #8e9297;
	--deprecated-card-bg: rgb(0, 0, 0, 0.3);
	--deprecated-card-editable-bg: rgb(0, 0, 0, 0.3);
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: var(
		--channeltextarea-background
	);
	--deprecated-quickswitcher-input-placeholder: rgb(255, 255, 255, 0.5);
	--deprecated-text-input-bg: rgb(0, 0, 0, 0.1);
	--deprecated-text-input-border: rgb(0, 0, 0, 0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
	--text-link: var(--link-colour);
}
